@mixin card__sm {
   display: flex;
   flex-direction: row;

   .card__sm_image {
      padding: 0 20px;
   }

   .card__sm_descr {
      padding: 0 20px;
      text-align: justify;

      &_subtitle {
         font-size: 0.8rem;
         font-weight: 600;
         color: $green;
      }

      &_title {
         margin: 10px 0;
         font-weight: 700;
         color: $black;
      }
   }
}

@mixin card__lg {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;

   .card__lg_descr {
      width: 50%;
      height: 100%;
      text-align: justify;

      &_title {
         font-size: 1.7rem;
         margin: 0 0 1vh 0;
         font-weight: 700;
         color: $black;
      }

      &_subtitle {
         margin: 1vh 0;
         font-size: 0.8rem;
         font-weight: 600;
         color: $green;
      }

      &_info {
         margin: 3vh 0 6vh 0;
      }
   }

   .card__lg_images {
      width: 50%;
      height: 100%;
      display: flex;

      img {
         margin: 0 30px;
      }
   }
}


@mixin card__lg_reverse {
   display: flex;
   flex-direction: row !important;
   justify-content: space-around;
   align-items: flex-start;

   .card__lg_images {
      max-width: 60%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;

      img {
         max-width: 100%;
         margin: 0 10px;
      }
   }

   .card__lg_descr {
      width: 40%;
      height: 100%;

      &_title {
         font-size: 1.7rem;
         margin: 0 0 1vh 0;
         font-weight: 700;
         color: $black;
      }

      &_subtitle {
         margin: 1vh 0;
         font-size: 0.8rem;
         font-weight: 600;
         color: $green;
      }
   }
}