// COLORS =============================== // 
// =======================================//

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$darkred: #ff0000;
$orange: #fd7e14;
$oranged: #ff4500;
$yellow: #ffc107;
$green: #00cccc;
$light-green: #ccffff;
$teal: #20c997;
$cyan: #17a2b8;
$gray: #6c757d;
$darkgray: #494949;
$dark: #343a40;
$black: #272829;
$white: #ffffff;
$light: #f8f9fa;
$whitesmoke: #f5f5f5;

// BREAKPOINTS =========================== // 
// ========================================//

$breakpoint-xs: 0;
$breakpoint-xs1: 320px;
$breakpoint-xs2: 375px;
$breakpoint-xs3: 425px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1920px;

// FONTS ================================= // 
// ========================================//

// SERIF FONTS FAMELY

$ptserif: 'PT Serif', serif;
$crimson: 'Crimson Text', serif;
$literata: 'Literata', serif;

// SANS-SERIF FONTS FAMELY

$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$fira: 'Fira Sans', sans-serif;
$pathway : 'Pathway Gothic One', sans-serif;

// DISPLAY FONTS FAMELY

$banders: 'Bangers', cursive;
$bubblegum: 'Bubblegum Sans', cursive;

// HANDWRITING FONTS FAMELY

$kaushan: 'Kaushan Script', cursive;

// MONOSPACE FONTS FAMELY

$robotomono: 'Roboto Mono', monospace;
